<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<p> In the first excercise we weren't relying on the controller to decide the paths, we just used the js file to do that. In the second excercise, we did use the controller to state the path and included response in the path and also in an erb file. </p>